<div id="<%= dom_id micropost %>">
  <p>
    <strong>Content:</strong>
    <%= micropost.content %>
  </p>

  <li>
    <%= link_to gravatar_for(micropost.user), micropost.user%>
    <%= micropost.user.name, micropost.user %>
    <%= micropost.content %>
    Posted <%= time_age_in_words(micropost.created_at) %> ago
    </li>

  <p>
    <strong>User:</strong>
    <%= micropost.user_id %>
  </p>

</div>
