<h1>New micropost</h1>
<%= form_with(model: @micropost) do |f|%>
 <div class="field">
<%# <%= render "form", micropost: @micropost %> %>
  <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  <br>
  <%= f.text_field :user_id %>
</div>
<%= f.submit "Post", class: "btn btn-primary"%>
<% end %>
<br>
<div>
  <%= link_to "Back to microposts", users_path %>
</div>
